@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Kanit');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Cookie|Kanit');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Cookie|Kanit|Neuton');
.onwork {
  display: flex;
  justify-content: space-between;
  width: 310px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 285px;
  margin: 20px;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 0 8px blue;
  border: none;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  border: none;
  letter-spacing: 2px;
}

.typeToggler {
  font-size: 20px;
}

.typeToggler:nth-child(even) {
  background: #7b68ee;
}

.typeToggler:nth-child(odd) {
  background: #ffa000;
}

.translate {
  font-size: 22px;
}

.translate:hover {
  background: #d0f0c0;
}

.hide {
  display: none;
}

.result {
  font-size: 21px;
  color: #000080;
  margin: 18px;
  font-family: 'Neuton', serif;
}

.result span {
  color: #ff0033;
}

.alert {
  background: #f8173e;
}
